@import "../../node_modules/bootstrap/scss/bootstrap";

@import "common/_custom";
@import "common/_mixins";
@import "layouts/_header";
@import "components/font-awesome/font-awesome";
@import "components/owl-carousel/owl-carousel";

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {}

.navbar-primary{
	padding: 1.5rem 1rem;
	background: $white;
}

a{
	color: $link-color;
	&:hover{
		color: $link-hover-color;
	}
}

.section{
	padding: 50px 0;
	.wrap{
		@extend .container;
		.content{
			@extend .row;
			main{
				@extend .col-sm-9;
				.wrapper{
					@extend .card-deck;
					.page-header{
						@extend .col-sm-12;
					}
					article{
						@extend .card;
						border: 0 none;
        				border-radius: 0;
        				.entry-content{
        					@extend .card-body;
          					padding: 0.5rem 0 1.25rem;
          					h4{
					            @extend .card-title;
					            font-size: 1.15rem;
					            margin-bottom: 0.15rem;
					        }
							time{
								@extend .card-text;
								@extend .text-muted;
								font-size: 80%;
					        }
        				}
					}
				}
			}
			aside{
				@extend .col-sm-3;
					.wrapper{
						@extend .row;
						.page-header{
							@extend .col-sm-12;
						}
						.widget{
							@extend .col-sm-12;
						
							.entry-content{
								background-color: $red;
								padding: 1.25rem;
								strong{
									position: relative;
									display: block;
									font-weight: normal;
									color: $white;
									font-size: 3rem;
								}
								time{
									color: $white;
									font-size: 80%;
									line-height: 1;
								}
								h4{
									font-size: 1.15rem;
									a{
										color: $white;
									}
								}
							}
						}
					}
				
			}
		}
	}
	&.services{
		background-color: $sky-blue;
		.wrap{
			.content{
				main{
					@extend .col-sm-12;
					.wrapper{
						@extend .row;
						.page-header{
							text-align: center;
						}
						.service{
							@extend .col-sm-12;
							ul{
								@extend .justify-content-center;
								li{
									@extend .nav-item;
									a{
										@extend .nav-link;
										@extend .btn;
										@extend .btn-outline-primary;
										@extend .btn-sm;
										@extend .rounded-0;
										&.active{ 
											@extend .active;
										}
									}
								}
							}
						}
					}
				}
			}
		} 
	}
}

.content{
	@extend .row;
}

.slider-main{
	background-color: $pink;
	.item-container{
		@extend .row;
		@extend .align-items-center;
		.slider-content{
			@extend .col;
			h3{
				font-size: 50px;
				color: $red;
			}
			p{
				font-size: 16px;
			}
			.btn{

			}
		}
		.slider-image{
			@extend .col;
			img{
				width: auto;
			}

		}
	}
}

.tab-content > .tab-pane {
	display: block;
    visibility: hidden;
    height: 0px;
    overflow:hidden;
}
.tab-content > .active {
    visibility: visible;
    height: auto;
    overflow: visible;
}