@import "../../node_modules/bootstrap/scss/bootstrap";

@import "common/_custom";
@import "common/_mixins";
@import "layouts/_header";
@import "layouts/_masshead";
@import "layouts/_footer";
@import "components/font-awesome/font-awesome";
@import "components/owl-carousel/owl-carousel";
@import "components/_nav";

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {}

a{
	color: $link-color;
	&:hover{
		color: $link-hover-color;
	}
}

.section{
	padding: 4rem 0 3rem;
	.wrap{
		.content{
			main{
				@extend .col-sm-9;
				.wrapper{
					@extend .card-deck;
					.page-header{
						@extend .col-sm-12;
					}
					article{
						@extend .card;
						border: 0 none;
        				border-radius: 0;
        				.entry-content{
        					@extend .card-body;
          					padding: 0.5rem 0 1.25rem;
          					h4{
					            @extend .card-title;
					            font-size: 1.15rem;
					            margin-bottom: 0.15rem;
					        }
							time{
								@extend .card-text;
								@extend .text-muted;
								font-size: 80%;
					        }
        				}
					}
				}
			}
			aside{
				@extend .col-sm-3;
					.wrapper{
						@extend .row;
						.page-header{
							@extend .col-sm-12;
						}
						.widget{
							@extend .col-sm-12;
						
							.entry-content{
								background-color: $red;
								padding: 1.25rem;
								strong{
									position: relative;
									display: block;
									font-weight: normal;
									color: $white;
									font-size: 3rem;
								}
								time{
									color: $white;
									font-size: 80%;
									line-height: 1;
								}
								h4{
									font-size: 1.15rem;
									a{
										color: $white;
									}
								}
							}
						}
					}
				
			}
		}
	}
	
	&.services{
		background-color: $sky-blue;
		.wrap{
			.content{
				@extend .row;
				.page-header{
					@extend .col-sm-12;
					text-align: center;
					margin-bottom: 0.25rem;
					h2{
						color: $blue;
					}
				}

				.service{
					@extend .col-sm-12;
					ul{
						@extend .justify-content-center;
						margin-bottom: 2rem;
						li{
							@extend .nav-item;
							a{
								@extend .nav-link;
								@extend .btn;
								@extend .btn-outline-primary;
								@extend .btn-sm;
								@extend .rounded-0;
								&.active{ 
									@extend .active;
								}
							}
						}
					}
					.tab-content{
						.owl-carousel{
							.item{
								article{
									background-color: transparent;
									.entry-content{
										position: absolute;
										bottom: 0;
										left: 0;
										right: 0;
										background-color: rgba(255, 255, 255, 0.85);
										padding: 1.25rem;
										h4{
											a{
												@extend .card-title;
									            font-size: 1.15rem;
									            margin-bottom: 0.15rem;
												color: $blue;
												&:hover{
													color: darken($blue, 15%);
												}
											}
										}
										p{
											padding-top: 0.25rem;
											display: none;
											color: $gray-700;
											font-size: 90%;
										}
									}
									&:hover{
										.entry-content{
											top: 0;
											background-color: rgba(255, 255, 255, 0.7);
											p{
												display: block;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		} 
	}
	
	&.footer{
		background-color: $gray-700;
	}
}

.wrap{
	@extend .container;
	.content{
		@extend .row;
	}
}


.slider-main{
	background-color: $pink;
	.item-container{
		@extend .row;
		@extend .align-items-center;
		.slider-content{
			@extend .col;
			h3{
				font-size: 3.5rem;
				color: $red;
			}
			p{
				font-size: 16px;
			}
			.btn{

			}
		}
		.slider-image{
			@extend .col;
			img{
				width: auto;
			}

		}
	}
}