footer{
	padding: 1.25rem 0 3rem !important;
	font-size: 80%;
	a{
		color: $gray-300;
		&:hover{
			color: $white;
		}
	}

	.footer-pre{
		@extend .align-items-center;
		margin-bottom: 0 !important;
		.segdi{
			@extend .col-sm-8;
			@extend .mr-auto;
			nav{
				@include media-breakpoint-down(xs) {
					justify-content: center !important;
				}
				a:first-child{
					padding-left: 0;
				}
			}
		}
		.translate{
			@extend .col-sm-4;
			#google_translate_element{
				@include media-breakpoint-down(xs) {
					float: none !important;
				}
				float: right;
			}
			/*
			ul.social-nav{
				@extend .nav;
				@include media-breakpoint-down(xs) {
					justify-content: center !important;
				}
				@extend .justify-content-end;
				li{
					@extend .nav-item;
					a{
						@extend .nav-link;
						
						i{
							font-size: 1.25rem;
						}
					}
					&.facebook{
						a{
							&:hover{
								color: $blue;
							}
						}
					}
					&.twitter{
						a{
							&:hover{
								color: $sky-blue;
							}
						}
					}
					&.linkedin{
						a{
							&:hover{
								color: $blue;
							}
						}
					}
					&.youtube{
						a{
							&:hover{
								color: $red;
							}
						}
					}
				} 
			}
			*/
		}
	}

	.footer-post{
		@extend .align-items-center;
		nav{
			
			a{
			    padding: 0.25rem 0;
			}
		}
		.address{
			@extend .col-sm-8;
			address{
			}
		}
		.nav-links{
			@extend .col-sm-2;
			@include media-breakpoint-down(xs) {
				text-align: initial !important;
			}
			text-align: right;
		}
	}
}