footer{
	padding: 1.25rem 0 3rem !important;
	font-size: 80%;
	a{
		color: $gray-300;
		&:hover{
			color: $white;
		}
	}

	.footer-pre{
		@extend .align-items-center;
		margin-bottom: 0 !important;
		.segdi{
			@extend .col-sm-8;
			@extend .mr-auto;
			nav{
				@include media-breakpoint-down(xs) {
					justify-content: center !important;
				}
				a:first-child{
					padding-left: 0;
				}
			}
		}
		.social{
			@extend .col-sm-4;
			ul.social-nav{
				@extend .nav;
				@include media-breakpoint-down(xs) {
					justify-content: center !important;
				}
				@extend .justify-content-end;
				li{
					@extend .nav-item;
					a{
						@extend .nav-link;
						
						i{
							font-size: 1.25rem;
						}
					}
					&.facebook{
						a{
							&:hover{
								color: $blue;
							}
						}
					}
					&.twitter{
						a{
							&:hover{
								color: $sky-blue;
							}
						}
					}
					&.linkedin{
						a{
							&:hover{
								color: $blue;
							}
						}
					}
					&.youtube{
						a{
							&:hover{
								color: $red;
							}
						}
					}
				} 
			}
		}
	}

	.footer-post{
		@extend .align-items-center;
		.address{
			@extend .col-sm-8;
			@extend .mr-auto;
			address{
				ul{
					@extend .nav; 
					@include media-breakpoint-down(xs) {
						justify-content: center !important;
					}
					@extend .flex-column;
					margin-top: 0.75rem;
					li{
						@extend .nav-item;
						i{
							top: 0.4em;
							color: $gray-600;
						}
						a{
							@extend .nav-link;
							padding: 0.15rem 0;

						}
					}
				}
			}

		}
		.top{
			@include media-breakpoint-down(xs) {
				margin: auto;
			}
			text-align: center;
		}
		
	}
}