.masshead{
	@extend .jumbotron;
	padding: 4rem 2rem 0;
	@include media-breakpoint-down(xs) {
    	padding: 2rem 0 1rem;
    }
	background-color: $pink;
	nav#breadcrumb{
		margin: 1rem 0;
		@include media-breakpoint-down(xs) {
			margin: 0 auto;
		}
		@extend .col-auto;

		ol{
			@extend .breadcrumb;
			padding: 0;
			background-color: transparent;
		}
	}
	.page-title{
		@extend .media;
		@extend .col-sm-12;
		@include media-breakpoint-down(xs) {
	    	align-items: center;
	    	flex-direction: column-reverse;
	    }
		.page-body{
			@extend .media-body;
			@include media-breakpoint-down(xs) {
		    	text-align: center;
		    }
			h1{
				@extend .mt-0;
				@include font-family('lato','bold')
				text-transform: uppercase;
				font-size: 3rem;
				@include media-breakpoint-down(xs) {
			    	font-size: 2rem;
			    }
				color: $red;
			}
			p{
				@include media-breakpoint-down(xs) {
			    	display: none;
			    }
			}
		}
		i{
			@extend .ml-5;
			color: $red;
			@include media-breakpoint-down(xs) {
		    	font-size: 3rem;
		    	margin-left: 0 !important;
		    	margin-bottom: 1rem;
		    }
			font-size: 5rem;
			text-shadow: 4px 3px 0 $pink, 9px 8px 0 rgba(169, 45, 48, 0.25);
		}
	}
}