nav{
	&.navbar-primary{
		@extend .navbar;
		@extend .navbar-expand-md;
		@extend .navbar-light;
		@extend .bg-light;
		z-index: $zindex-dropdown;
		background-color: $white !important;
		.navbar-nav{
			li{
				@extend .nav-item;
				a{
					@extend .nav-link;
					text-transform: uppercase;
				}
				&.active{
					a{
						color: $red;
					}
				}
			}
		}
		&.fixed-top {
		    position: fixed;
		    top: 0;
		    right: 0;
		    left: 0;
		    z-index: 1030;
		}
	}
}