.section{
	@include media-breakpoint-down(xs) {
		padding: 2rem 0 1rem;
	}
	padding: 4rem 0 3rem;
	.wrap{
		.content{
		}
	}

	&.newsfeed{
		.news{
			@extend .col-sm-9;
			.wrapper{
				@extend .card-deck;
				.page-header{
					@extend .col-sm-12;
					@include media-breakpoint-down(xs) {
		            	padding-left: 0;
		            	padding-right: 0;
		            }
				}
				article{
					@extend .card;
					border: 0 none;
    				border-radius: 0;
    				.entry-content{
    					@extend .card-body;
      					padding: 0.5rem 0 1.25rem;
      					h4{
				            @extend .card-title;
				            a{
				            	color: $blue;
								&:hover{
									color: lighten($blue,15%);
								}
				            }
				            @include media-breakpoint-down(xs) {
				            	font-size: 1rem;
				            }
				            font-size: 1.15rem;
				            margin-bottom: 0.15rem;
				        }
						time{
							@extend .card-text;
							@extend .text-muted;
							font-size: 80%;
				        }
    				}
				}
			}
		}
		.events{
			@extend .col-sm-3;
				.wrapper{
					@extend .row;
					.page-header{
						@extend .col-sm-12;
					}
					.widget{
						@extend .col-sm-12;
					
						.entry-content{
							background-color: $blue;
							padding: 1.25rem;
							strong{
								position: relative;
								display: block;
								font-weight: normal;
								color: $white;
								font-size: 3rem;
							}
							time{
								color: $white;
								font-size: 80%;
								line-height: 1;
							}
							h4{
								@include media-breakpoint-down(xs) {
					            	font-size: 1rem;
					            }
								font-size: 1.15rem;
								a{
									color: $white;
								}
							}
						}
					}
				}
			
		}
	}
	
	&.services{
		background-color: $sky-blue;
		.wrap{
			.content{
				@extend .row;
				.page-header{
					@extend .col-sm-12;
					text-align: center;
					margin-bottom: 0.25rem;
					h2{
						color: $blue;
					}
				}

				.service{
					@extend .col-sm-12;
					ul{
						@extend .justify-content-center;
						margin-bottom: 2rem;
						li{
							@extend .nav-item;
							a{
								@extend .nav-link;
								@extend .btn;
								@extend .btn-outline-primary;
								@extend .btn-sm;
								@extend .rounded-0;
								&.active{ 
									@extend .active;
								}
							}
						}
					}
					.tab-content{
						.owl-carousel{
							.item{
								article{
									background-color: transparent;
									.entry-content{
										position: absolute;
										bottom: 0;
										left: 0;
										right: 0;
										background-color: rgba(255, 255, 255, 0.85);
										padding: 1.25rem;
										h4{
											a{
												@extend .card-title;
												@include media-breakpoint-down(xs) {
									            	font-size: 1rem;
									            }
									            font-size: 1.15rem;
									            margin-bottom: 0.15rem;
												color: $blue;
												&:hover{
													color: darken($blue, 15%);
												}
											}
										}
										p{
											padding-top: 0.25rem;
											display: none;
											color: $gray-700;
											font-size: 90%;
										}
									}
									&:hover{
										.entry-content{
											top: 0;
											background-color: rgba(255, 255, 255, 0.7);
											p{
												display: block;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		} 
	}
	
	&.footer{
		
	}
}

.map{
	height: 225px;
}

.slider-main{
	background-image: url('../images/main_slider__bg.png');
	background-repeat: no-repeat;
	background-position: botom center;
	background-color: $pink;
	background-size: cover;
	.owl-item{
		.item-container{
			@extend .row;
			@extend .align-items-center;
			.slider-content{
				@extend .col;
				opacity: 0;
				h3{
					@include font-family('lato','bold');
					@include media-breakpoint-down(xs) {
						font-size: 2rem;
					}
					font-size: 3.5rem;
					color: $red;
				}
				p{
					font-size: 1rem;
				}
				.btn{
					@include font-family('lato','bold')
					text-transform: uppercase;
					@extend .rounded-0;
				}
			}
			.slider-image{
				@include media-breakpoint-down(xs) {
					display: none;
				}
				@extend .col;
				opacity: 0;
				img{
					width: auto;
				}

			}
		}
		&.active{
			.item-container{
				.slider-content{
					@include fadeInDown(
					    $duration: 1s,
					    $delay: .2s,
					    $function: ease, 
					    $fill: both
					  );
				}
				.slider-image{
					@include fadeInUp(
					    $duration: 1s,
					    $delay: .2s,
					    $function: ease, 
					    $fill: both
					  );
				}
			}
		}
	}

	.owl-dots{
		.owl-dot{
			span{
				width: 4rem;
				height: 0.35rem;
				background: lighten($red, 35%);
				border-radius: 0;
			}
			&:hover{
				span{
					background: lighten($red, 20%); 
				}
			}
			&.active{
				span{
					background: $red;
				}
			}
		}
	}
}