@font-face {
    font-family: 'robotolight';
    src: url('../fonts/lato/roboto/Roboto-Light.eot');
    src: url('../fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Light.woff') format('woff'),
         url('../fonts/roboto/Roboto-Light.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Light.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latobold';
    src: url('../fonts/lato/Lato-Bold.eot');
    src: url('../fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/Lato-Bold.woff2') format('woff2'),
         url('../fonts/lato/Lato-Bold.woff') format('woff'),
         url('../fonts/lato/Lato-Bold.ttf') format('truetype'),
         url('../fonts/lato/Lato-Bold.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato/Lato-Regular.eot');
    src: url('../fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/Lato-Regular.woff2') format('woff2'),
         url('../fonts/lato/Lato-Regular.woff') format('woff'),
         url('../fonts/lato/Lato-Regular.ttf') format('truetype'),
         url('../fonts/lato/Lato-Regular.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato/Lato-Light.eot');
    src: url('../fonts/lato/Lato-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/Lato-Light.woff2') format('woff2'),
         url('../fonts/lato/Lato-Light.woff') format('woff'),
         url('../fonts/lato/Lato-Light.ttf') format('truetype'),
         url('../fonts/lato/Lato-Light.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

*{
	webkit-transition: all .5s ease;
    transition: all .5s ease;
}

body{
	@include font-family();
}

a{

	color: $link-color;
	&:hover{
		color: $link-hover-color;
		text-decoration: none;
	}
}

.ocultar{
     @include fadeOutDown(
	    $duration: 1s,
	    $delay: .2s,
	    $function: ease, 
	    $fill: both
	  );
}

.mostrar{
     @include fadeInUp(
	    $duration: 1s,
	    $delay: .2s,
	    $function: ease, 
	    $fill: both
	  );
}

.fadeIn{
	@include fadeIn(
	    $duration: 1s,
	    $delay: .2s,
	    $function: ease, 
	    $fill: both
	  );
}

.fadeOut{
	@include fadeOut(
	    $duration: 1s,
	    $delay: .2s,
	    $function: ease, 
	    $fill: both
	  );
}

.wrap{
	@extend .container;
	.content{
		@extend .row;
		@include media-breakpoint-down(xs) {
			margin-bottom: 0;
	    }
		margin-bottom: 2rem;

	}
}

.section{
	.page-header{
		padding-bottom: 1.25rem;
		h2{
			@include font-family('lato','light');
			@include media-breakpoint-down(xs) {
				font-size: 1.5rem;
			}
			font-size: 2.25rem;
			a{
				color: $gray-500;
				&:hover{
					color: $gray-700;
				}
			}
		}
	}
}
		
.dataTables_wrapper{
	padding-left: 0;
	padding-right: 0;
	.dataTable{
		@extend .table;
		@extend .table-striped;
		@extend .table-bordered;
		thead, tfoot{
			tr{
				@extend .bg-info;
				th{
					color: $white;
				}
			}
		}
		tbody{
			tr{
				&.odd{
					background-color: $sky-blue;
				}
				&.even{
					background-color: lighten($sky-blue, 5%);
				}
				td{
					a{
						color: $blue;
						&:hover{
							color: lighten($blue, 5%);
						}
					}
					h4{
						@include media-breakpoint-down(xs) {
							font-size: 1rem;
						}
						font-size: 1.25rem;
					}
					p{
						font-size: 80%;
						&:last-child{
							margin-bottom: 0;
						}
					}
					&.text-center{
						a{
						color: $red;
						&:hover{
								color: lighten($red, 5%);
							}
						}
					}
				}
			}
		}
	}
}


.owl-stage-outer{
	margin-bottom: 20px;
}

.owl-dots{
	.owl-dot{
		span{
			width: 4rem;
			height: 0.35rem;
			background: lighten($gray-500, 35%);
			border-radius: 0;
		}
		&:hover{
			span{
				background: lighten($gray-500, 20%); 
			}
		}
		&.active{
			span{
				background: $gray-500;
			}
		}
	}
}


main{
	@extend .col-sm-8;
	text-align: justify;
	.fullpage{
		@extend .col-sm-12;
	}
}

aside{
	@extend .col-sm-3;
	@extend .ml-sm-auto; 
	a{
		color: $blue;
		&:hover{
			color: lighten($blue,15%);
		}
	}
}

.top{
	position: fixed;
    bottom: 15px;
    right: 15px;
    text-align: center;
    width: 36px;
    height: 36px;
    background-color: $red;
    border-radius: 36px;
    vertical-align: middle;
	color: $white;
	text-transform: uppercase;
	font-size: 0.75rem;
	box-shadow: 0 3px 4px rgba(0,0,0,0.3);
	padding: 0;
	line-height: 36px;
	i{
		font-size: 1rem;
	}
	&:hover{
		background-color: $white;
		color: $red;
	}
}

// Responsive min-width
@include media-breakpoint-up(xs) {

}

@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {

}

@include media-breakpoint-up(lg) {

}

@include media-breakpoint-up(xl) {

}

// Responsive max-width
@include media-breakpoint-down(xs) {

}

@include media-breakpoint-down(sm) {

}

@include media-breakpoint-down(md) {

}

@include media-breakpoint-down(lg) {

}

// Responsive and
@include media-breakpoint-only(xs) {

}

@include media-breakpoint-only(sm) {

}

@include media-breakpoint-only(md) {

}

@include media-breakpoint-only(lg) {

}

@include media-breakpoint-only(xl) {

}
